.container {
  background: #000;

  & header {
    color: whitesmoke;
    display: flex;
    justify-content: space-between;

    .logo {
      max-width: 25%;
    }

    .sort-filter {
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 4%;
      font-family: 'SF Pro', sans-serif;

      & select, option {
        border: 0px;
        outline: 0px;
        margin-top: 4px;
        color: whitesmoke;
        background: black;
        font-weight: bold;
      }

      & select {
        font-size: 18px;
      }

      & option {
        font-size: 14px;
      }
    }
  }

  & main {
    background: black;
    color: whitesmoke;
  }

  & footer {
    background: black;
    color: whitesmoke;
  }
}